@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color:black;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}


.contenedor {
    width: 85%;
    margin: auto;
    overflow: hidden;
    text-align: justify ;
    height: 600;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

h3 {
    font-size: 30px;
}

p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header::before {
    content: "";
    display: block;
    margin-bottom: 80px;
}


nav {
    width: 100%;
    background: white;
    top: 0;
    transition: ease-in-out 0.5s;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 10px;
    width: 100%;
    align-items: center;
    padding: 0 10%;
    font-size: 20px;
}

.nav .logo {
    height: 70px;

}

.nav .logo img {
    height: 100%;
}

.nav .enlaces-header a {
    color:gray;
    margin-left: 30px;
    text-decoration: none;
}

.contenido-header {
    height: 400px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@keyframes animat {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}


.textos-header {
    margin: 0 0 0 30px;
}

.contenido-header p {
    font-weight: 100;
    margin-top: 14px;
    color: #5D6678;
}


.contenido-header a {
    margin: 400px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #1FDE82;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

.contenedor-tipo2{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: unset;
    align-content: flex-start;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 5em;
    margin-right: .5em;
}

.contenedor-tipo3 {
    width: 50%;
    padding: 30px;
    margin: auto;
    overflow: hidden;
    text-align: justify ;
    height: 600;
}